:root{
    --desc-color : grey;

    --header-nav-font-size : clamp(4px,1.1vw,12px);

    --desc-font-size : clamp(6px,1.1vw,14px);

    --d1-title-font-size : clamp(14px,2.6vw,40px);
    --d2-title-font-size : clamp(9px,1.7vw,28px);

    --div4-grid-feature-title-font-size : clamp(6px,1.1vw,12px);
    --div4-grid-feature-desc-font-size : clamp(5px,1.1vw,10px);

    --d6-title-font-size : clamp(9px,1.7vw,30px);
    --d6-desc-font-size : clamp(7px,1.1vw,12px);

    --div7-grid-feature-title-font-size : clamp(9px,1.5vw,22px);
    --div7-grid-feature-desc-font-size : clamp(5px,1.2vw,12px);
    --div7-grid-feature-list-font-size : clamp(5px,1.2vw,12px);
    /* --div7-grid-feature-list-font-size : clamp(0.8rem,1.5vw,12px) */

    --title-color : #2a2a2b;

}

body{
    /* background-color: green;     */
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

.content{
    /* background-color: red; */
    width: 50vw;
    margin-bottom: 0;
}

.overflow{
    background-color: rgb(15, 14, 14);
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
}

form{
    width: 26vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1vw;
    row-gap: 1vw;
}

form input[type=text]{
    grid-column: span 2;
}

form textarea{
    height:6vw;
    min-height:6vw;
    grid-column: span 3;
}

form input[type=text], textarea{
    font-size: var(--desc-font-size);
    padding: 0.5vw;
    width: 100%;
    height: 100%;
    border-radius: 0.3vw;
    border: 1px solid grey;
    box-sizing: border-box;
    resize: vertical;
} 




@media only screen and (min-width: 320px) and  (max-width: 479px){

:root{
    --desc-color : grey;
    --desc-font-size : 1rem;

    --d1-title-font-size : 2rem;
    --d2-title-font-size : 1.5rem;

    --div4-grid-feature-title-font-size : 1.1rem;
    --div4-grid-feature-desc-font-size : 0.9rem;

    --d6-title-font-size : 1.7rem;
    --d6-desc-font-size :1.1rem;

    --div7-grid-feature-title-font-size : 1.3rem;
    --div7-grid-feature-desc-font-size : 0.8rem;
    --div7-grid-feature-list-font-size : 0.8rem;

    --title-color : #2a2a2b;

}

body{
        display:block;
        margin-left: 5vw;
        margin-right: 5vw;
    }

.overflow{
    background-color: rgb(15, 14, 14);
    width: 100%;
}

.content{
    width: 100%;
}

.btn-submit{
    font-weight: 700;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 2vw 2.1vw;
}

form{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5vw;
    margin-bottom: 8vw;
}

form input[type=text]{
    height:20vw;
    grid-column: span 1;
}

form textarea{
    height:30vw;
    min-height:30vw;
    grid-column: span 1;
}

form input[type=text], textarea{
    
    font-size:var(--div4-grid-feature-desc-font-size);
    padding: 2vw;
    /* width: 100%; */
    height: 100%;
    border-radius: 2vw;
} 


/* DIVS */

.divs{
    margin-top: 15vw;
}

.div1{
    margin-top: 7vw;
}

.div1-content{
    order: 0;
}

.div1, .div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10vw;
}

.div1-img, .div2-img{
    width: 80vw;
    height: 80vw;
}

.div2-content div:last-child{
    align-items: center;
    justify-content: center;
    column-gap: 3vw;
}

.div2-content, .div3, .div3-desc{
    text-align: center;
}

.div3-img{
    grid-column: span 1;
}

.desc, .div3-desc{
    margin-top: 4vw;
    margin-bottom: 4vw;
    line-height: 1.5;
}

/* DIV 4 */
.div4, .div5{
    row-gap: 0.5vw;
}

.div4-grid{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 80vw;
    height: 100%;
    column-gap: 0;
    row-gap: 4vw; 
}

/* display : flex */
.div4-grid-feature{
    /* width: 60vw; */
    height:100%;
    min-height: 20vw;
    padding: 5vw 4vw 5vw 4vw;
    row-gap: 3vw;
}

.div4 a{
    font-size: 0.8rem;
}

.div4-grid-feature i{
    font-size: 2.5rem;
}

/* Div 5 */

.div5-grid{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    padding: 0 0;
    row-gap: 10vw;
}

.div5-grid-feature{
    align-items: center;
    justify-content: center;
    row-gap: 2vw;
}

.div5-grid-feature-img{
    width: 80vw;
    height: 100%;
    margin-bottom: 0vw;
    display: flex;
}

/* Div 6 */

.div6{
    /* background-color: blue; */
    margin: 10vw 3vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 6vw;
}

.div6-title{
    text-align: left;
}

.div6-desc{
    width: 100%;
}

/* Div 7 */

.div7-grid{
    display: flex;
    height: fit-content;
    flex-direction: column;
    row-gap: 3vw;
}

.div7 .div3-title{
    width: 100%;
}

.div7 .div3-desc{
    width: 100%;
}

.div7-plan-desc{
    color: rgb(76, 75, 75); 
    font-size: var(--div7-grid-feature-list-font-size);
    font-weight: 700;
    text-align: left;
    line-height: 1.5;
}

.div7-grid-feature{
    /* background-color: red; */
    width: 80vw;
    height: fit-content;
    min-height: 20vw;
    padding: 4vw 4vw 4vw 4vw;
    row-gap: 2vw;
}

.div7-grid-feature ul li:before {
    padding-right: 2vw;
    font-size: 4vw;
}

.div7-align{
    column-gap: 2vw;
    margin-bottom: 4vw;
}

.toggle-container {
    width: 1.6rem;
    height: 0.8rem;
}

.toggle-thumb {
    width: 0.8rem;
    height: 0.8rem;
}

.toggle-container input[type="checkbox"]:checked + .toggle-thumb {
    transform: translateX(0.8rem);
}

/* DIV 8 */

.div8{
    margin-top: 8vw;
    margin-bottom: 10vw;
    padding: 0 4vw;
}

/* Footer */

.footer{
    grid-template-columns: 1fr;
    row-gap: 3vw;
}
.footer div:first-child {
    grid-column: span 1;
}
.footer-contents-desc{
    display: flex;
    flex-direction: row;
    row-gap: 0.6vw;
    column-gap: 3vw;
}

.footer-logo{
    /* background-color: red; */
    width: 40vw;
    height: fit-content;
    object-fit: cover;
}

.copyright{
    margin-top: 6vw;
}

.div1, .div2, .div3, .div6, .div4-grid, .div8-grid{
    grid-template-columns: 1fr;
}
} 


